/* https://isabella-theme.github.io/Isabella/ */
body {
    /* universal */
    --colorBlack: black;
    --colorWhite: white;
    --colorHl: #be4318;
    --colorHlFaded: #b18879;
    --colorHlFg: var(--colorWhite);
    /* dark */
    --colorBgDark: #333335;
    --colorBgDarkDarker: #232325;
    --colorFgDark: #d1d1d1;
    --colorFgDarkBolded: white;
    --colorFgDarkFaded: #87878c;
    --colorAcDark: #101013;
    /* light */
    --colorBgLight: #f9f9f9;
    --colorBgLightDarker: #e8e8e8;
    --colorFgLight: #4c4f59;
    --colorFgLightBolded: black;
    --colorFgLightFaded: #a9a9b3;
    --colorAcLight: #cccccc;
}
/* global compacter */
.wrapper-1Rf91z {width: 60px;}
.wrapper-sa6paO {height: 40px;}
.listItem-2P_4kh {width: 60px;}
.svg-1X37T1,.wrapper-25eVIn {
    height: 40px;
    width: 40px;
}
.guildSeparator-3s64Iy {display: none;}
.searchBar-6Kv8R2 {box-shadow: initial;}
.containerCompact-3V0ioj {padding: 2px 0;}
.message-1PNnaP {margin-bottom: 0;}
.content-3dzVd8 {padding-right: 1%;}
.containerCompact-3bB5aN {padding-left: 1%;}
.buttonContainer-KtQ8wc {display: none;}
.timestampCompact-MHgFLv:before {content: '[';}
.timestampCompact-MHgFLv:after {content: ']';}
.isCompact-1hsne1 {
    margin-left: 2ch;
    text-indent: -3ch;
}
.dividerEnabled-2TTlcf {display: none;}
.messageEditorCompact-2PSR3v {
    margin-right: 1%;
    margin-left: 1%;
}
.messageEditorCompact-2PSR3v .inner-zqa7da {max-height: 990px !important;}
.messageEditorCompact-2PSR3v textarea {max-height: 965px !important;}
.chat-3bRxxu form {
    margin-right: 1%;
    margin-left: 1%;
}
.channelTextArea-rNsIhG {
    margin-bottom: 5px;
    padding-top: 5px;
    border-top: initial !important;
}
.friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {border-top: initial !important;}
.friendsRow-2yicud {height: 45px !important;}
.friendsColumn-eVHFqJ.friendsColumnActions-1LT3_M {display: none !important;}
/* global colors */
.item-2hkk8m {background-color: var(--colorHl);}
.children-19S4PO:after {background: transparent !important;}
.theme-light .privateChannels-1nO12o header,
.theme-dark .privateChannels-1nO12o header,
.accountDetails-3k9g4n .discriminator {
    opacity: 1;
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,
.theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU,
.theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ svg path,
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover svg path,
.theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ svg path,
.theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover svg path {
    color: var(--colorHlFg);
    background-color: var(--colorHl);
}
.theme-dark .container-2Thooq,.theme-light .container-2Thooq {background-color: transparent;}
.theme-light .username-_4ZSMR,
.theme-dark .username-_4ZSMR {
    color: var(--colorHl);
}
.channel-2QD9_O.selected-1HYmZZ a {background-color: var(--colorHl);}
.markup-2BOw-j a {color: var(--colorHl) !important;}
/* light theme */
.theme-light .container-2lgZY8 {background-color: var(--colorAcLight);}
.theme-light .wrapper-1Rf91z {background-color: var(--colorAcLight);}
.theme-light .container-1r6BKw {background-color: var(--colorAcLight);}
.theme-light .container-PNkimc {background-color: var(--colorAcLIght);}
.theme-light .channels-Ie2l6A {background-color: var(--colorAcLight);}
.theme-light .button-2b6hmh {filter: brightness(0%) contrast(100%) !important}
.theme-light .container-2XeR5Z {background-color: var(--colorBgLight);}
.theme-light .privateChannels-1nO12o header {color: var(--colorFgLight);}
.theme-light .channel-2QD9_O:hover a {background-color: var(--colorBgLightDarker);}
.theme-light .channel-2QD9_O:hover a,
.channel-2QD9_O:hover .name-2WpE7M,
.channel-2QD9_O:hover .nameWrapper-10v56U {
    color: var(--colorFgLight);
}
.theme-light .channels-Ie2l6A * {color: var(--colorFgLight);}
.theme-light .content-yTz4x3 {background-color: var(--colorBgLight);}
.theme-light .markup-2BOw-j {color: var(--colorFgLight);}
.theme-light .timestampCompact-MHgFLv {color: var(--colorFgLight);}
.theme-light .members-1998pB {background-color: var(--colorAcLight);}
.theme-light .container-3gCOGc {background-color: var(--colorBgLight);}
/* dark theme */
.theme-dark .container-2lgZY8 {background-color: var(--colorAcDark);}
.theme-dark .wrapper-1Rf91z {background-color: var(--colorAcDark);}
.theme-dark .container-1r6BKw {background-color: var(--colorAcDark);}
.theme-dark .container-PNkimc {background-color: var(--colorAcDark);}
.theme-dark .channels-Ie2l6A {background-color: var(--colorAcDark) !important;}
.theme-dark .privateChannels-1nO12o header {color: var(--colorFgDark);}
.theme-dark .channels-Ie2l6A * {color: var(--colorFgDark) !important;}
.theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY {
    background-color: var(--colorBgDark);
}
.theme-dark .chat-3bRxxu form {background-color: var(--colorBg);}
.theme-dark .timestampCompact-MHgFLv {color: var(--colorFgDark) !important;}
.theme-dark .members-1998pB {background-color: var(--colorAcDark);}
.theme-dark .container-3gCOGc {background-color: var(--colorBgDark);}
